{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}

<div class="container-fluid p-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,224L1440,288L1440,0L0,0Z"></path></svg>
</div>

<div class="container my-5">
    <h1> {{article.title}} </h1>
</div>



{% endblock %}