/* FONT FIRA SANS POUR LES TITRES */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FONT POPPINS POUR LE TEXTE ET LES LIENS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 1 rem = 10px */
html{
    font-size: 62.5%;
}

/* COULEUR DU SITE */
.color-1{
    color: #504B47;
}
.color-2{
    color: #FBD899;
}
.color-3{
    color: #FDF6EA;
}
.bg-1{
    background-color: #504B47;
}
.bg-2{
    background-color: #FBD899;
}
.bg-3{
    background-color: #FDF6EA;
}

/* STYLE DES TITRE - TEXTES - LIENS */
h1, h2, h3, h4, h5{
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}
h2{
    font-size: 5rem;
    font-weight: 700;
}
h3{
    font-size: 3.8rem;
    font-weight: 600;
}
    /* STYLE DU TITRE INDEX */
    .h1-1{
        font-size: 8rem;
        color: #FDF6EA;
        font-weight: normal;
        letter-spacing: 2px;
    }
    .h1-2{
        font-size: 9rem;
        color: #FDF6EA;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .h1-3{
        font-size: 5rem;
        color: #FBD899;
        font-weight: 600;
    }
    @media (max-width: 768px) { 
        .h1-1{
            font-size: 5rem;
        }
        .h1-2{
            font-size: 6rem;
        }
        .h1-3{
            font-size: 2rem;
        }
     }
    /* ----------------------- */

p, a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #504B47;
}
p{
    font-size: 1.8rem;
    text-align: justify;
}
    /* STYLE LIEN DE LA NAVBAR */
    .a-nav{
        font-size: 2.4rem;
        font-weight: 600;
        color: #504B47;
        text-decoration: none;
    }
    .a-nav:hover{
        border-bottom: #504B47 3px solid;
    }
    @media (max-width: 768px) {
        .a-nav{
            font-size: 1.4rem;
            color: #FDF6EA;
        }
    }

/* STYLE DES BOUTONS */
.btn-1{
    font-size: 1.6rem;
    font-weight: 600;
    color: #FDF6EA;
    background-color: #504B47;
    padding: 12px 34px;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
}
.btn-2{
    font-size: 1.6rem;
    font-weight: 600;
    color: #504B47;
    background-color: #FBD899;
    padding: 12px 34px;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
}





.header{
    background-image: url(../img/bgi.png);
    height: 100vh;
    background-size: cover;
}
.bgi-contact{
    background-image: url(../img/bgi-contact.png);
    background-size: cover;
    height: 600px;
}
.bgi-pres{
    background-image: url(../img/presentation.jpg);
    background-size: cover;
    height: 100%;

}
