{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}
<div class="container my-5 fs-4">
    {{form(form)}}
</div>

{% endblock %}
