{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}


<div class="container my-5">
    <h1 class="h1">Formulaire de contact</h1>
    {% include 'flash.html.twig' %}
    
    {{form(form)}}
</div>

{% endblock %}
