<footer class="bgc-3 py-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="border">
                
                </div>
            </div>
            <div class="col-4">
                <div class="border">
                
                </div>
            </div>
            <div class="col-4">
                <div class="border">
                
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="border">
                    <p class="m-0">© 2024 Copyright: Bob-aventure</p>
                </div>
            </div>
        </div>
    </div>
</footer>