{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}

<div class="container my-5">
    {% include 'flash.html.twig' %}
    {{form(form)}}
</div>
{% endblock %}