{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Vérification email{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}

<div class="container my-5">
    {% include 'flash.html.twig' %}
    {{form(form)}}
</div>

{% include 'footer.html.twig' %}
{% endblock %}