{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
{% include 'nav2.html.twig' %}

{{app.user.name}}
{{app.user.firstname}}
<br>
<a href="{{path('user_edit', {id:app.user.id}) }}" class="btn btn-primary">Modifier mes infos</a>

{% endblock %}
